<p>
    A ce stade, les logs sont affichés de manière brute, sans layout particulier.
    L'objectif de cette étape est d'itérer sur les logs et de les afficher sous la forme d'une tableau.

    <ul>
        <li>
            Dans le fichier index.html,
            définir l'attribut <a href="http://docs.angularjs.org/1.1.5/docs/api/ng.directive:ngRepeat" target="_blank">ng-repeat</a> au niveau de la balise <code>tr</code> d'un tableau</code></li>
            et afficher le contenu du log courant (date, url, method, status, message) dans des colonnes séparées.
    </ul>
</p>