<p>
    Le <a href="http://docs.angularjs.org/guide/dev_guide.mvc.understanding_controller" target="_blank">contrôleur</a> est l'un des composants fondamentaux du framework AngularJS.
    C'est une simple fonction qui permet de définir l'état initial de son <a href="http://docs.angularjs.org/guide/scope" target="_blank">scope</a> (le modèle, ses attributs) et de lui ajouter du comportement (de nouvelles fonctions).
</p>

<p>
    L'objectif de cette étape est donc la création d'un contrôleur et l'affichage d'un élément de son scope dans la page (en l'occurence les logs) :
    <ul>
        <li>Dans le fichier workshop-angular/app/js/app.js, définir une function <code>LogCtrl</code> qui prend en paramètre <code>$scope</code></li>
        <li>Définir l'attribut <code>logs</code> au sein du <code>$scope</code> et copier/coller le contenu du fichier <code>workshop-angular/data/log-list.json</code> (pour le moment, les logs sont mis en dur dans le contrôleur, par la suite ils seront récupérés depuis un backend)</li>
        <li>Dans le fichier workshop-angular/app/index.html, ajouter l'attribut <a href="http://docs.angularjs.org/api/ng.directive:ngController" target="_blank">ng-controller</a> au div <code>#angular-app</code>, puis afficher le contenu de la variable <code>$scope.logs</code> dans la page</li>
    </ul>
</p>
