<p>
    Le <a href="http://docs.angularjs.org/guide/dev_guide.templates.databinding" target="_blank">two-way data binding</a> est une fonctionnalité du framework permettant de faire un lien bidirectionnel entre une variable du code JavaScript et un élément présent dans le DOM.
    Chaque modification d'un côté ou de l'autre est automatiquement répercutée. En d'autres termes, le framework effectue une synchronisation automatique entre le modèle et la vue.
</p>

<p>
    L'objectif de cette étape est donc la mise en oeuvre de cette fonctionnalité. Pour ce faire :
    <ul>
        <li>Dans le fichier workshop-angular/app/index.html, déclarer l'attribut <a href="http://docs.angularjs.org/api/ng.directive:ngModel" target="_blank">ng-model</a> avec la valeur <code>query</code> au niveau du champ de recherche</li>
        <li><a href="http://docs.angularjs.org/guide/expression" target="_blank">Afficher le contenu du champ texte</a> dans la page</li>
    </ul>
</p>

