<p>
    Le framework propose plusieurs composants fondamentaux. Parmi eux, on trouve les <a href="http://docs.angularjs.org/1.1.5/docs/guide/dev_guide.templates.filters.using_filters" target="_blank">filtres</a>.
</p>

<p>
    Un filtre permet de formatter la donnée afin de la présenter à l'utilisateur.
    AngularJS propose "out of the box" quelques filtres : <a href="http://docs.angularjs.org/1.1.5/docs/api/ng.filter:currency" target="_blank">currency</a>, <a href="http://docs.angularjs.org/1.1.5/docs/api/ng.filter:date" target="_blank">date</a>, <a href="http://docs.angularjs.org/1.1.5/docs/api/ng.filter:uppercase" target="_blank">uppercase</a>, <a href="http://docs.angularjs.org/1.1.5/docs/api/ng.filter:orderBy" target="_blank">orderBy</a>
    Par exemple, <code>logs | uppercase</code> va formatter la liste de logs pour l'afficher en majuscules. Bien entendu, il est possible de <a href="http://docs.angularjs.org/1.1.5/docs/guide/dev_guide.templates.filters.creating_filters" target="_blank">créer ses propres filtres</a>.
</p>

<p>
    L'objectif de cette étape est de filtrer les logs en fonction de la valeur du champ de recherche :
    <ul>
        <li>Dans le fichier workshop-angular/app/index.html, ajouter un filtre au niveau du <code>ng-repeat</code> en tenant compte de la valeur du champ <code>query</code></li>
    </ul>
</p>
