<p>La syntaxe <code>|</code> (pipe) permet également d'effectuer des opérations sur des collections via certaines fonctions prédéfinies comme <a href="http://docs.angularjs.org/api/ng.filter:filter" target="_blank">filter</a>, <a href="http://docs.angularjs.org/api/ng.filter:limitTo" target="_blank">limitTo</a> ou <a href="http://docs.angularjs.org/api/ng.filter:orderBy" target="_blank">orderBy</a></p>
</p>
<p>
    L'objectif de cette étape est de filtrer les logs en fonction de la valeur du champ de recherche :
    <ul>
        <li>Dans le fichier workshop-angular/app/index.html, ajouter un filtre au niveau du <code>ng-repeat</code> pour n'afficher que les logs contenants la valeur <code>query</code> du champ de recherche (le filtrage s'effectue sur l'ensemble des attributs d'un log</li>
    </ul>
</p>
