<p>L'objectif de cet atelier est de réaliser une application permettant d'afficher et de filtrer des access logs provenant d'un serveur Web à l'aide du framework <a href="http://angularjs.org/" target="_blank">AngularJS</a>.</p>

<p>Le workshop est décomposé en plusieurs étapes, chacune d'elle est validée par une ou plusieurs assertions exécutées à chaque rafraîchissement de la page. Une fois l'étape passée avec succès, celle-ci est grisée.</p>

<p><a href="http://docs.angularjs.org/guide/" target="_blank">La documentation officielle</a> et <a href="http://docs.angularjs.org/api/" target="_blank">l'API de référence</a> pourront vous être utiles.</p>

<p>Pour initialiser l'application AngularJS, il faut définir un module qui s'appelera <code>workshop</code>     :
    <ul>
        <li>Dans le fichier workshop-angular/app/js/app.js, déclarer un <a href="http://docs.angularjs.org/guide/module" target="_blank">module AngularJS</a> appelé <code>workshop</code></li>
        <li>Dans le fichier workshop-angular/app/index.html, <a href="http://docs.angularjs.org/api/ng.directive:ngApp" target="_blank">faire référence</a> au module <code>workshop</code> pour boostraper l'application</li>
    </ul>
</p>
