<p>
    A ce stade, les logs sont affichées de manière brute, sans layout particulier.
    L'objectif de cette étape est d'itérer sur les logs et de les afficher sous la forme d'un tableau.

    <ul>
        <li>
            Dans le fichier index.html,
            utiliser la directive <a href="http://docs.angularjs.org/api/ng.directive:ngRepeat" target="_blank">ng-repeat</a> au niveau de la balise <code>tr</code> d'un tableau</code></li>
            et afficher le contenu des logs (date, url, method, status, message) dans des colonnes séparées.
    </ul>
</p>
