<p>
    Le framework AngularJS a pour cible le développement d'application dîtes "single-page application". En d'autres termes, tout ou partie des fonctionnalités d'une application sont exposées au sein d'une même page.
</p>

<p>
    Néanmoins, il est important d'exposer des URLs distinctes pour conserver un historique de navigation et être capable d'afficher des informations dépendantes du contexte de l'URL.
</p>

<p>
    Le <a href="http://docs.angularjs.org/api/ng.$route" target="_blank">routeur</a> est un composant AngularJS qui permet de faire le mapping entre une URL (avec potentiellement des paramètres dynamiques), un contrôleur et un template.
    Cela permet au framework d'émuler une navigation à l'aide de liens préfixés avec un # (e.g /#logs/1 pour afficher le log dont l'ID est 1). L'avantage est que ces URLs sont bookmarkables et donc accessibles de l'extérieur sans avoir eu
    besoin d'effectuer un quelconque parcours sur le site Web.
</p>

<p>
    Cette étape a pour objectif la mise en place d'un routeur qui gérera l'accès à la racine du site Web et qui pointerait sur un template dédié à l'affichage des logs.
    Pour ce faire :

    <ul>
        <li>Dans le fichier workshop-angular/app/js/app.js, mettre en place le <a href="http://docs.angularjs.org/api/ng.$route" target="_blank">routeur</a> et créer une route <code>/</code> faisant référence au template <code>views/log-list.html</code> et gérée par le contrôleur LogCtrl</li>
        <li>Dans le fichier workshop-angular/app/index.html, rajouter la propriété <a href="http://docs.angularjs.org/api/ng.directive:ngView" target="_blank">ng-view</a> au niveau du div <code>#angular-app</code></li>
        <li>Dans le fichier workshop-angular/app/views/log-list.html, externaliser le contenu du fichier workshop-angular/app/index.html permettant l'affichage des logs</li>
    </ul>
</p>
