<p>L'objectif de cet atelier ets d'écrire une application permettant d'afficher et de filtrer des access logs d'un serveur web à l'aide du framework <a href="http://angularjs.org/">Angular</a></p>

Vous trouverez <a href="http://docs.angularjs.org/guide/">ici</a> la documentation officielle et <a href="http://docs.angularjs.org/api/">là</a> l'API de référence.


<p>Dans un premier temps, pour initialiser l'application Angular, vous devez déclarer un module appelé <b>workshop</b>:
<ul>
	<li>Allez dans le fichier app.js et déclarer un module angular.</li>
	<li>Dans le fichier index.html, <a href="http://docs.angularjs.org/api/ng.directive:ngApp">faites référence à ce module</a></li>
</ul>
</p>
