<p>
    A ce stade, les logs sont affichés de manière brute, sans layout particulier.
    L'objectif de cette étape est d'itérer sur les logs et de les afficher sous la forme d'un tableau.

    <ul>
        <li>Dans le fichier workshop-angular/app/index.html, déclarer la directive <a href="http://docs.angularjs.org/api/ng.directive:ngRepeat" target="_blank">ng-repeat</a> au niveau de la balise <code>tr</code> du tableau afin d'itérer sur les logs</li>
        <li>Afficher le contenu des logs (date, url, method, status, message) dans des colonnes séparées</li>
    </ul>
</p>
