<!doctype html>
<html lang="en" ng-app="workshop">
    <head>
        <meta charset="utf-8">

        <title>Angular Workshop</title>

        <link href="workshop/css/styles.css" rel="stylesheet" type="text/css">

        <script src="workshop/lib/angular/angular.min.js"></script>
        <script src="workshop/js/app.js"></script>
    </head>
    <body>

        <header>
            <div>
                <input type="text" ng-model="textSearchInput">
                <a class="search_clear" href="#"></a>
            </div>
        </header>

        <div ng-controller="headerCtrl">
            <p>
                Welcome to Angular Workshop {{userName}} ! <input type="text" ng-model="userName" ng-hide="hideNameInput" />
            </p>
        </div>

        <div ng-view></div>

    </body>
</html>
