<header></header>

<a href="#/">back</a>

<div id="content">
    <table id="hor-zebra" summary="Employee Pay Sheet">
        <thead>
        <tr>
            <th>Date</th>
            <th>URL</th>
            <th>Method</th>
            <th>Status</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
